<!-- enrollments.component.html -->
<div>
  <div *ngIf="error" class="bg-red-50 text-red-800 p-4 rounded-xl mb-6 text-center shadow-md">{{ error }}</div>

  <div *ngIf="isLoading" class="flex justify-center">
    <div class="border-t-4 border-orange-600 border-solid w-8 h-8 rounded-full animate-spin"></div>
  </div>

  <div *ngIf="!isLoading">
    <table *ngIf="enrollments.length > 0" class="w-full table-auto border-collapse">
      <thead>
      <tr class="bg-gray-100">
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Nom de l'atelier</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Nom de l'utilisateur</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Email</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Numéro de téléphone</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Statut</th>
        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let enrollment of enrollments" class="border-b hover:bg-gray-50">
        <td class="px-4 py-2">{{ enrollment.workshopTitle }}</td>
        <td class="px-4 py-2">{{ enrollment.userName }}</td>
        <td class="px-4 py-2">{{ enrollment.userEmail }}</td>
        <td class="px-4 py-2">{{ enrollment.userNumber }}</td>
        <td class="px-4 py-2">{{ enrollment.status }}</td>
        <td class="px-4 py-2 flex gap-2">
          <button
            *ngIf="enrollment.status !== 'inscrit'"
            (click)="updateEnrollmentStatus(enrollment._id)"
            class="px-3 py-1 bg-green-600 text-white rounded-lg hover:bg-green-700 transition duration-300"
            title="Confirmer l'inscription"
          >
            Confirmer
          </button>
          <button
            (click)="deleteEnrollment(enrollment._id)"
            class="text-red-600 hover:text-red-800"
            title="Supprimer"
          >
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5-4h4a1 1 0 011 1v1H9V4a1 1 0 011-1zm-7 4h18"></path>
            </svg>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="enrollments.length === 0" class="text-center text-gray-600">
      Aucune inscription trouvée.
    </div>
  </div>
</div>
